/* Color Pallet
#DAC0AA light brown
#E9D9C2 lighter brown
#AAC0D3 darker blue
#F3A5A5 red staurated
#F3CCCC red faded staurated

#303841     our black
#F3F3F3     our white
#F6F6F6     lighter white
#e1f4f3     light blue
#706c61     grey

*/
 
body {
    font-size: 16px;
    font-weight: 300;
    color: #303841;
    font-family: 'incostaregular' ,monospace;
    background-color: #F3F3F3;
}
