/* Color Pallet
#303841 almost black
#F3F3F3 offwhite
#e1f4f3 light blue
#706c61 grey
*******
#DAC0AA light brown
#E9D9C2 lighter brown
#AAC0D3 darker blue
*/

body {
    font-size: 16px;
    font-weight: 300;
    color: #303841;
    font-family: 'incostaregular' ,monospace;
    background-color: #F3F3F3;
}

