.email-preview-card {
    display: flex;
    padding: 10px 15px 10px 20px;
    justify-content: space-between;
    border-top: solid 0.1px white;
    border-bottom: solid 0.1px white;
}

.email-preview-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.email-preview-subject{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.email-preview-star {
    margin: auto 0 auto 0;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.email-preview-card a {
    width: 70%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.email-preview-card-first-letter{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-family: incostaregular, monospace;
    color: white;
    font-size: 2.2rem;
}

.email-preview-sent-at{
    text-align: center;
    font-size: 0.8rem;
}

.email-preview-card-txts {
    margin: 0;
    width: 80%;
}

.email-preview-card-info {
    display: flex;
    width: 275px;
    font-family: incostabold, monospace;
}



.email-preview-card-info>* {
    padding: 5px 0 5px 0;
    padding-right: 3px;
}

.email-preaview-body {
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: incostaregular, monospace;
}

.email-preview-controls-delete-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: auto 0 auto 0;
}

.email-preview-controls-status-icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin: auto 0 auto 0;
    right: 5px;
}

.starStatus {
    color: gold;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}

@media only screen and (max-width: 525px) {
    .email-preview-controls-delete-icon {
        background-color: #F3F3F3;
    }
    .email-preview-controls-status-icon {
        background-color: #F3F3F3;
    }
    .email-preview-card {
        padding: 10px 5px 10px 5px;
    }
    
    .email-preview-card-first-letter{
        height: 40px;
        font-size: 1.4rem;
        align-self: center;
    }
}

@media only screen and (max-width: 360px) {
    .email-preview-card-info {
        width: auto;
    }
    .email-preview-controls-delete-icon {
        height: 18px;
        width: 18px;
    }
    .email-preview-controls-status-icon {
        height: 18px;
        width: 18px;
    }
    .email-preview-star{
        height: 18px;
        width: 18px;
    }
}