.email-preview-card{
    display: flex;
    padding: 15px 15px 15px 30px;
    justify-content: normal;
    border-top: solid 0.1px white;
    border-bottom: solid 0.1px white;
    min-width: 650px;
}

.email-preview-card a{
    width: 90%;
    margin: 0;
}

.email-preview-card-txts{
    margin: 0;
    width: 80%;
}

.email-preview-card-info {
    display: flex;
    width: 275px;
}

.email-preview-card-info >* {
    padding: 5px;
    padding-right: 3px;
}

.email-preaview-body{
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.email-preview-controls-delete-icon{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.email-preview-controls-status-icon{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.starStatus{
    color: gold;
    text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}
