.side-nav-container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    color: #AAC0D3;
    background-color: #303841;
    margin: 0 10px 0 10px;
    color: #F3F3F3;
    font-family: 'incostabold', monospace;
}

.email-main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.email-main-nav>* {
    cursor: pointer;
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.email-main-nav li:hover {
    color: #AAC0D3;
}

.compose-btn-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compose-btn-container button {
    font-family: robotoregular, monospace;
    height: 40px;
    width: 160px;
    border-radius: 60px;
    background-color: #303841;
    border: 0;
    color: #F3F3F3;
    font-size: 1.4rem;
    margin: 10px;
}

.compose-btn-container button:hover {
    color: #AAC0D3;
    cursor: pointer;
}

.side-nav-hamburger {
    display: none;
}

.side-nav-container [type="checkbox"] {
    display: none;
}

@media only screen and (max-width: 900px) {
    .email-main-nav {
        opacity: 0;
        height: 8%;
        width: 95%;
        background-color: #303841;
        position: absolute;
        top: 312px;
        left: 20px;
        flex-direction: row;
        align-items: center;
        font-size: 1.6rem;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        z-index: 9;
        transition: top .3s linear, transform .8s linear, opacity .8s linear;
    }
    .side-nav-container [type="checkbox"]:checked+label>span::before {
        transition: transform .2s linear;
        transform: translateX(65px) translateY(-16px) rotateZ(-540deg);
        content: '|';
    }
    .side-nav-container [type="checkbox"]:checked+label>span::after {
        transition: transform .2s linear;
        transform: translateX(-18px) rotateZ(-450deg);
        content: 'Menu|';
    }
    .side-nav-container [type="checkbox"]:checked~.email-main-nav {
        transform: scaleX(1);
        opacity: 1;
    }
    .compose-btn-container {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        padding-left: 30px;
        height: 30px;
        width: 120px;
    }
    .side-nav-container {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        background-color: transparent;;
        justify-content: flex-end;
        display: flex;
        margin-bottom: 15px;
    }
    .side-nav-hamburger {
        transform: rotateZ(90deg);
        display: inline-block;
        cursor: pointer;
        color: #303841;
        left: 10px;
    }
    .side-nav-hamburger span {
        margin: 15px;
        font-size: 2.5rem;
    }
    .side-nav-hamburger span::before {
        content: '|';
        display: inline-block;
        /* transition: transform .3s linear; */
    }
    .side-nav-hamburger span::after{
        content: '||';
        display: inline-block;
    }
}

@media only screen and (max-width: 525px) {
    .compose-btn-container {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    .compose-btn-container button{
    height: 20px;
    width: 80px;
    font-size: .8rem;
    }

    .side-nav-container {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    .email-main-nav{
        width: 100%;
        top: 287px;
        left: 1px;
        height: 15%;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 400) {
    
    .email-main-nav{
        top: 287px;
    }
}

