.keeper-add {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid darkgray;
}
.keeper-add .add-input {
    display: inline-block;
    min-width: 70%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}
.keeper-add [type="text"] {
    border-color: transparent;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 10rem;
}
.keeper-add [type="text"]::placeholder {
    color: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}
.keeper-add [type="text"] + label {
    position: absolute;
    top: 2px;
    left: 10px;
    color: #AAC0D1;
    opacity: 1;
    transition: all .2s linear;
}
.keeper-add #titleInput + label {
    top: calc(50% + 2px);
}
.keeper-add #titleInput:placeholder-shown + label {
    top: 60%;
}
.keeper-add [type="text"]:placeholder-shown + label {
    top: 18px;
    left: 18px;
    opacity: 0;
}
.keeper-add [type="text"]:focus {
    border: 2px solid #AAC0D1;
}
.keeper-add [placeholder="Title"] {
    border-top: 1px solid #AAC0D1;
}
.keeper-add .add-input > span {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 0;
}
.keeper-add .add-note-icon {
    display: inline-block;
    height: 20px;
    cursor: pointer;
}
.keeper-add label {
   margin-right: 5px;
}
.add-input [type="radio"] {
    display: none;
}
.add-input [type="radio"]:checked + label {
    outline: 1px solid #AAC0D1;
    outline-offset: 3px;
}
.placeholder {
    height: 52px;
}