.keeper-list {
    column-count: 1;
    padding: 0 30px;
    min-height: 60vh;
}
.keeper-list>* {
    break-inside: avoid;
    padding: 5px;
}
.note-card {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);
    padding: 40px 10px 10px 10px;
    position: relative;
    font-size: 1.125rem;
    transition: background-color .4s linear, transform .4s linear;
}
.note-card.viewed {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear;
}
.cover.viewed {
    opacity: 1;
    visibility: visible;
}
.note-card img, .note-card iframe, .note-card audio {
    width: 100%;
}
.note-card h5 {
    margin: 10px 0;
    font-size: 1.25em;
    font-family: robotobold, monospace;
    text-transform: capitalize;
}
.note-card .controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.note-card .controls img {
    width: 25px;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity .3s linear, transform .3s linear;
}
.note-card .controls [type="color"] {
    display: none;
}
.note-card .controls [type="color"] + label {
    cursor: pointer;
}
.note-card:hover .controls img {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
} 
.note-card .card-btn {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.note-card .pin {
    width: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.note-card .todo.done {
    color: gray;
    text-decoration: line-through;
}
.add-todo, .remove-todo {
    float: right;
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
    .keeper-list {
        column-count: 2;
    }
}
@media only screen and (min-width: 900px) {
    .keeper-list {
        column-count: 4;
    }
}