.keeper-filter {
    text-align: right;
    padding: 10px 30px;
}
.keeper-filter [type="text"] {
    border-color: transparent;
    border-radius: 100px;
    padding: 3px 40px 3px 10px;
    background-image: url('../../../imgs/icons/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 95%;
}
.keeper-filter [type="text"]:focus, .keeper-filter select:focus {
    outline-color: transparent;
    border: 2px solid #AAC0D1;
}