.emial-compose-main {
    padding: 30px;
    padding: 30px 30px 30px 75px;
    background-color: #F9F9F9;
    height: 58vh;
    width: 70vw;
}

.emial-compose-main input {
    width: 100%;
    border-color: transparent;
}

.emial-compose-main textarea {
    width: 100%;
    border-color: transparent;
    height: 180px;
    margin-bottom: 20px;
    resize: none;
}

.emial-compose-main button {
    display: block;
}

.email-compose-hr {
    width: 95%;
}

@media only screen and (max-width: 900px) {
    .emial-compose-main {
        padding: 15px;
        background-color: #F9F9F9;
        height: 71vh;
        width: 92vw;
    }
    .emial-compose-main textarea{
        height: 304px;
    }
}