.mailClosed{
    background-color: rgba(0,0,0,0.05);
    font-weight: 600;
}

.mailOpened{
    background-color: rgba(0,0,0,0.015);
}

.emails-list-container{
    height: 58vh;
    overflow: scroll;
    width: 70vw;
} 


@media only screen and (max-width: 900px) {
    .emails-list-container{
        width: 91vw;
    }
}

@media only screen and (max-width: 525px){
    .emails-list-container{
        height: 76vh;
    }
}
