.mailClosed{
    background-color: rgba(0,0,0,0.05);
    font-weight: 600;
}

.mailOpened{
    background-color: rgba(0,0,0,0.015);
}

.emails-list-container{
    height: 50vh;
    overflow: scroll;

}